$background-clr: #000000;
$midground-clr: #252525;
$midground-hvr: #353535;
$foreground-clr: #E70000;
$text-clr: #CACCBE;
$inner-content-padding: 30px;

body {
    background-image: url('/images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: $text-clr;
    font: 11pt Verdana, Arial, Helvetica, sans-serif;
}

div.centereddiv {
    margin:0 auto;
}

div.roundeddiv {
    border-radius: 5px;
    padding: $inner-content-padding;
}

div.contentdiv {
    @extend div.centereddiv, div.roundeddiv;
    background: $midground-clr;
}

div.main {
    @extend div.centereddiv;
    background: rgba($background-clr, 1);
    width: 900px;
    margin-top: 20px;
    padding: 30px;
    min-height: 100vh;
    overflow: auto;
}

div.banner {
    display: inline-block;
    width: 900px;
    height: 200px;
    background-image: url('/images/banner.png');
}

div.menubarcontainer {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 900px;
    height: 40px;
    border-radius: 5px;
    background: $midground-clr;
}

div.menubutton {
    display: table;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px;
    margin: 0px;
}

div.menubutton span {
    display: table-cell;
    vertical-align: middle;
    color: $text-clr;
}

div.menubutton:hover {
    background: $midground-hvr;
}

div.menuleft {
    @extend div.menubutton;
    float: left;
}

div.menuleftmost {
    @extend div.menuleft;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

div.menuright {
    @extend div.menubutton;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
}

div.menurightmost {
    @extend div.menuright;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.loginbox {
    @extend div.centereddiv;
    background: $midground-clr;
    border-radius: 10px;
    width: 400px;
    padding: 50px;
    text-align: center;
}

div.homemain {
    @extend div.roundeddiv;
    background: $midground-clr;
    float: left;
    width: 585px - $inner-content-padding*2;
}

div.homeside {
    @extend div.roundeddiv;
    background: $midground-clr;
    float: right;
    width: 285px - $inner-content-padding*2;
}

img.logo {
    height: 200px;
    margin-left: 50px;
}