<div class="contentdiv">

<h1>About Us</h1>

<p>Billiards@NYU is the central community for billiards, snooker, and other cue sports at New York University. Conceived around the years 2012-2014, the club finds
its origins in the freshman dorm Rubin Hall, where the presence of air conditioning ONLY in the lounge and the well designed billiards room brought together
students from not only the many floors of the dorm, but from many different years, majors, schools entirely. This tightly knit community was bound together
by the location and the game, and has since been growing exponentially in various directions to a member count of nearly 150!</p>

<p>Billiards@NYU hosts bi-annual 8-ball tournaments open to the entire NYU student community, played at Rubin Hall, generally organized into two stages:
a Round Robin, free play stage, followed by a pre-scheduled single elimination bracket. More information about our current and previous tournaments can be
found on the tournaments page, or by emailing any of the below-listed people.</p><br>

<h3>Administrative Members</h3><br>
<img src="" class="memberportrait"><div class="memberdescription">
<h4>Vince Tran</h4>
<p>Vince Tran is a Class of 2014 graduate of the NYU School of Nursing, and perhaps the earliest proponent of the Billiards@NYU community. He has been playing
billiards with Billiards@NYU for nearly 6 years, even after graduation, and even now still comes back often to play in tournaments and meet our newest members.</p>
</div><br><br><br>

<img src="" class="memberportrait"><div class="memberdescription">
<h4>Matthew Guro</h4>
<p>A member of the CAS class of 2016 as a Computer Science major, Matt Guro is a penguin.</p>
</div><br><br><br>

<img src="" class="memberportrait"><div class="memberdescription">
<h4>Larry Qin</h4>
<p>An NYU Stern student, Larry Qin is a crucial member (and perhaps the only current member) of the Billiards@NYU administrative team, and manages a huge part
of the club proceedings, such as tournament logistics and preparations.</p>
</div><br><br><br>

<img src="" class="memberportrait"><div class="memberdescription">
<h4>August Sun</h4>
<p>A member of the CAS class of 2017 as a Physics/Computer Science major, August Sun is also a penguin.</p>
</div><br><br><br>

</div>
