<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js'></script>
<script type='text/javascript' src='/javascripts/edittournaments.js'></script>

<div class='contentdiv'>
  <h1>Tournaments</h1>
  <form id='tournamentContainer' class='tournamentcontainer'>
  Identifier: <input type='text' id='tournamentSlug' value='{{tournament}}'><br><br>
  <!--retrieved tournament goes here-->
  <div id='bottom'>
  <br><br>
  <input type='submit' value='Submit'><input type='button' onclick='history.back();' value='Cancel'>
  </div>
  </form>
</div>
