<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <div><img src='/img/logo-transparent.png'></div>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
