<br><br><br>
<div class="loginbox">
<form action="" method="POST">
Username: <input type="text" name="username"> <br><br>
Password: <input type="password" name="password"> <br><br><br>
<input type="submit" value="Login">
</form>
</div>
