<div class='loginbox'>
  <form action='' method='POST'>
    Title: <input type='text' name='title'> <br><br>
    Content: <textarea cols='40' rows='5' name='content'></textarea><br><br><br>
    <input type='submit' value='submit'>
  </form>
</div>
