<div class="contentdiv">

<h1>Billiards@NYU Spring 2016 8-ball Tournament Signups</h1>

<p>This is a sign-up form for those who are interested in participating in 
the Spring 2016 8-Ball Tournament at Rubin Hall. If you would like to compete, 
please fill out this form. Matches will begin as soon as we release the 
bracket, and the final will be on Friday, April 22.</p>

<p>Details regarding the bracket, dates, rules, and regulations will be 
provided using Challonge, an online tournament manager. Matches will be 
spread out across the rest of the semester.</p>

<p>The bracket will begin as a round-robin, and transition into 
single-elimination. Competitors will be matched by seed, which are 
based on the results of the past tournaments. New competitors will be 
seeded below already seeded competitors.</p>

<p>All details are subject to change. This form will close on Friday, 
March 4. The group stage (round-robin) will close on Friday, April 1. 
Any questions contact Larry Qin at lq329@nyu.edu, or August Sun at 
ags431@nyu.edu.</p>

<p>Chalk up!</p>

<form action="" method="POST" id="signupform">
<b>Name:</b><br><br>
<input type="text" name="name"> <br><br>
<b>Phone Number:</b> (No spaces or hyphenations)<br>
We require it in cases where a match is about to start and players have not
arrived.<br><br>
<input type="number" name="phone"> <br><br>
<b>E-mail Address:</b><br>
All email messages we send are also posted in the Facebook group.<br><br>
<input type="text" name="email"> <br><br>
<b>Skill Level:</b><br>
We welcome players of any skill level.<br><br>
<input type="radio" name="skill" value="1">1
<input type="radio" name="skill" value="2">2
<input type="radio" name="skill" value="3">3
<input type="radio" name="skill" value="4">4
<input type="radio" name="skill" value="5">5<br><br>
<b>Comments:</b><br>
If you have anything to add, feel free to do so below.<br><br>
<textarea name="comment" form="signupform" rows="10" cols="60"></textarea><br><br><br>
<input type="submit" value="Submit">
</form>
</div>
