<div class="contentdiv">

<br><br>Thanks for signing up, {{name}}!<br><br>

We'll be in contact with you in the near future with more information.<br>

<a href="/">Back to Homepage</a><br><br>

</div>
