<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js'></script>
<script type='text/javascript' src='/javascripts/tournaments.js'></script>

<div class='contentdiv'>
  <h1>Tournaments</h1>
  <p>Here, you will be able to view current tournament standings and see our
     records of all previous tournaments. Use the dropdown to switch inbetween
     seasons, and hover over matches to see the individual match records.</p><br>
  {{#if admin}}
    <form action='/tournaments/edit' method='GET'>
      <input type='submit' value='New Tournament'>
    </form>
  {{/if}}
  <br>
  Tournament: <select id='tournamentSelect'>
    {{#each tournaments}}
      {{#with this}}
        <option value='{{slug}}'>{{name}}</option>
      {{/with}}
    {{/each}}
  </select>
  <div>
  <div id='tournamentContainer' class='tournamentcontainer'>
  </div>
  </div>
  {{#if admin}}
  <br><br>
    <form action='/tournaments/edit' method='GET'>
      <input type='hidden' name='tournamentSlug' id='editTourney'>
      <input type='submit' value='Edit this tournament'>
    </form>
  {{/if}}
</div>
